.selectContainer {
  width: 220px;
  padding: 15px 10px;
  max-width: 100%;
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  transition: all 0.5s ease;
  font-size: 18px;
  font-family: 'Inter-Regular';

  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
  -webkit-appearance: none;
  background-position-x: 180px;
}
.selectContainer:focus {
  border: 1px solid #007bff;
}

@media screen and (max-width: 500px) {
  .selectContainer {
    margin-top: 20px;
  }
}
