.ratePageContainer {
  width: 100%;
  padding-top: 25px;
}
.heading {
  font-family: 'Inter-Bold';
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #333;
  word-break: break-all;
}
